.FeedPage-container{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    height: 100vh; /* Ensure the container takes full viewport height */
    margin-bottom: 12rem;
    margin-top: 1.5rem;
    /* border: 2px solid black; */
}

.FeedPage-scrollable {
    height: 100%;
    overflow-y: scroll; /* Enable scrolling */
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.FeedPage-scrollable::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}