.SecondProcuctDes-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 100%;
}

.first-icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12rem;
    height:13rem;
}

.first-icon-img{
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    overflow: hidden;
    background-color: #faddb6;
}

.first-icon-img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.first-icon-text{
    padding: 10px;
}

.first-icon-text p{
    align-self: center;
    font-size: 17px;
    font-weight: 500;
    color: #4a3212;
}