.messageInput-form {
    /* position: relative; */
    /* bottom: 350%; */
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    /* border: 2px solid black; */
    background: #fff9d7;
}

.messageInput-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
}

.messageInput-input {
    border-width: 1px;
    border-radius: 0.5rem;
    display: block;
    width: 100%;
    padding: 0.625rem;
}

.messageInput-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: #fff9d7;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    transition: transform 0.3s ease, background-color 0.3s ease;
    border: 2px solid #e9a046;
}

.messageInput-button:hover {
    transform: scale(1.1);
    background-color: #fff9d7;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.3);
}

.buttonImg {
    width: 2rem;
    height: 2rem;
    filter: drop-shadow(0 2px 3px rgba(0, 0, 0, 0.2));
}