.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #6f3d00; 
    color: white;
}

.nav .right {
    margin-left: 30px;
}

.nav .right h2 {
    font-size: 30px;
    color: white;
    position: relative;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px solid #FFD700;
    border-radius: 10px;
    color: #FFD700; 
    text-shadow: 0 0 10px rgba(255, 215, 0, 0.7), 
                0 0 20px rgba(255, 215, 0, 0.5),
                0 0 30px rgba(255, 215, 0, 0.3),
                0 0 40px rgba(255, 215, 0, 0.2);
   
}

.nav .left {
    display: flex;
    justify-content: space-around;
    align-items: center;   
}

.nav .left a {
    text-decoration: none; 
    color: #fff9d7;
}

.nav .left h2 {
    margin-right: 30px;
    cursor: pointer;
}

.nav .left a:hover h2 {
    color: gold; 
}

.navbar-profile{
    position: relative;
    height: 50px;
    right: 20px;
    width: 50px;
    margin: 0 20px;
    border: 3px solid #FFD700;
    border-radius: 50%;
}

.navbar-profile img{
    height: 100%;
    width: 100%;
}

.nav-profile-dropdown{
    position: absolute;
    display: none;
    right: 0;
    z-index: 1;
    top: 45px;
    right: 5px;
}

.navbar-profile:hover .nav-profile-dropdown{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: #fff2ef;
    padding: 12px 25px;
    border-radius: 4px;
    border: 2px solid #6f3d00;
    outline: 2px solid white;
    list-style: none;
}

.nav-profile-dropdown li{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    color: #6f3d00;
}

.nav-profile-dropdown img{
    width: 20px;
}

.nav-profile-dropdown li:hover{
    color: #d09b45;
}

.cart-dot{
    position: relative;
}

.cart-dot .dot{
    position: absolute;
    min-width: 10px;
    min-height: 10px;
    background-color: #e9a046;
    border-radius: 5px;
    top: 14px;
    right: 20px;
}
