.ProductDesPage-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #dfe6ff, #edf0ff, #f5f8ff);
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 0;
    position: relative;
    z-index: 1;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes smoothFadeIn {
  0% { opacity: 0; transform: translateY(30px); }
  100% { opacity: 1; transform: translateY(0); }
}

.ProductDesPage-container, .product-main {
  animation: smoothFadeIn 0.7s cubic-bezier(0.4,0,0.2,1);
}

@media (max-width: 1200px) {
  .ProductDesPage-container {
    flex-direction: column;
    gap: 15px;
  }
}

@media (max-width: 768px) {
  .ProductDesPage-container {
    padding: 5px;
  }
  .product-main {
    padding: 5px;
  }
}

@media (max-width: 430px), (max-width: 412px), (max-width: 400px), (max-width: 390px), (max-width: 375px), (max-width: 360px) {
  .ProductDesPage-container {
    padding: 2px;
    font-size: 13px;
  }
  .product-main {
    padding: 2px;
    font-size: 13px;
  }
}