.ProductDesPage-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    background: linear-gradient(to bottom, #dfe6ff, #edf0ff, #f5f8ff);
    padding-top: 30px;
    padding-bottom: 20px;
    margin-top: 0;
    position: relative;
    z-index: 1;
    animation: fadeIn 0.5s ease-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}