/* General Styles */
.search-parent-div {
    max-width: 1200px;
    margin: 40px auto;
    padding: 20px;
    text-align: center;
}

h2 {
    font-size: 2rem;
    color: #333;
}

.search-top {
    justify-content: center;
    padding: 20px 60px;

}

.search-top input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 20px;
    /* background-color: #BFAE8C; */
}

.search-top button {
    padding: 10px 20px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.input-part{
    display: flex;
}
.input-part input {
    width: 80%;
    height: 50px;
}
.input-part select{
    width: 20%;
    height: 50px;
}

.search-top button:hover {
    background-color: orange;
}


.search-parent-div p {
    text-align: center;
}
.search-result-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

/* Masonry Grid */
.search-result-container-post {
    column-count: 4;
    column-gap: 20px;
}

.search-result-post {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    background: #fff9d7;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    cursor: pointer;
}

.search-result-post:hover {
    transform: scale(1.05);
}

.search-result-post img {
    width: 100%;
    height: auto;
    padding: 20px 20px 10px 20px;
    border-bottom: 2px solid #ddd;
}

.text-bot{
    display: flex;
    justify-content: space-between;
    /* margin-bottom: 8px; */
    margin: 0 10px 8px 10px;
    border: 2px solid brown;
    border-radius: 5px;
}

.p1{
    width: 60%;
    display: flex;
    /* justify-content: center; */
    align-items: center;
    padding-left: 4px;
    text-decoration-line:underline;
}
.p2{
    width: 40%;
}

.sam {
    /* padding: 10px; */
    text-align: center;
    font-size: 0.8rem;
    font-weight: bold;
    color: #333;
}

/* Artist Search Results */
.search-result-container-artist {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.search-result-artist {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: #fff9d7;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.3s ease;
}

.search-result-artist:hover {
    transform: scale(1.05);
}

.search-result-artist img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.search-result-artist p {
    font-size: 1rem;
    font-weight: bold;
    color: #333;
}
