.ChattingSidebar-container {
  background: #FFF9D7;
  padding: 20px;
  border-right: 2px solid #a0522d;  
  scrollbar-color: brown #f1f1f1;
  scrollbar-width: thin;
  height: 100vh;
  /* border: 2px solid black; */
  border-radius: 5px;
}

.ChattingSidebar-other-content {
  flex-grow: 1;
  margin-bottom: 20px;
}

.Conversations-container {
  overflow-y: auto;
  max-height: calc(100vh - 100px);  
}

.Conversation-container {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #a0522d; /* Consistent with brown theme */
}

.Conversation-dp img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.Conversation-other-info {
  margin-left: 10px;
}

.user-name p {
  font-weight: bold;
  font-size: 16px;
  color: #5d4037; /* Brownish for text */
}

.latestMessage p {
  font-size: 14px;
  color: #8b6f47; /* Lighter brown */
}

.LogOutButton-container {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.icon {
  font-size: 24px;
  cursor: pointer;
  color: #a0522d;
}

.icon:hover {
  color: #5d4037;
}

.ChattingSidebar-container::-webkit-scrollbar {
  width: 8px !important;
}

.ChattingSidebar-container::-webkit-scrollbar-track {
  background-color: #f1f1f1 !important;
  border-radius: 10px !important;
}

.ChattingSidebar-container::-webkit-scrollbar-thumb {
  background-color: brown !important;
  border-radius: 10px !important;
}

.ChattingSidebar-container::-webkit-scrollbar-thumb:hover {
  background-color: #723115 !important;
}