.ChattingSidebar-container{
    border-right: 1px solid #6b7280; 
    padding: 1rem; 
    display: flex;
    flex-direction: column;
    background: #FFF9D7; 
}

.ChattingSidebar-other-content {
    border-bottom: 2px solid #BFAE8C;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    align-self: stretch;
    white-space: nowrap;
  }

  