@import url('https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inknut Antiqua", serif;
}

body {
    background: #f5ead2;
}

button {
    background-color: #8E4800;
    color: #FFF9D7;
    border: none;
    border-radius: 4px;
    padding: 5px 15px;
    font-size: 0.875rem;
    font-weight: bold;
    cursor: pointer;
    height: 35px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

button:hover{
    background-color: #6f3d00;
}

.scrollable-hidden-scrollbar {
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.scrollable-hidden-scrollbar::-webkit-scrollbar {
    display: none;
}

/* 
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

body {
   
    background: #f5ead2;    
}

button {
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    padding: 8px 16px;
    border: none;
    border-radius: 6px;
    font-weight: 500;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #dfe6ff 0%, #c4d0ff 100%);
    color: #333;
} */
