/* .LogOutButton-container{
    margin-top: auto;
}

.icon{
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
} */

.LogOutButton-container {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
  }
  
  .icon {
    font-size: 24px;
    cursor: pointer;
    color: #333;
  }
  
  .icon:hover {
    color: #000;
  }
  