.UploadPost-container{
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    margin: 20px 0;
    background: #FFF9D7;
    border-radius: 1%;
    border: 2px solid black;
    padding: 0;
}

.header{
    background-color: #8E4800;
    padding: 10px 20px;
    border-radius: 8px 8px 0 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

.header p{
    color: #fff9d7;
    align-self: center;
    font-size: 22px;
    font-weight: 700;
}

.add-image-upload{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 43%;
}

.img-contain{
    border: 5px solid #8E4800;
    border-radius: 1.5%;
    width: 85%;
    height: 25rem;
    margin: 20px;
    background-color: #f0b171;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}

.img-contain img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.add-image-upload button{
    background-color: #8E4800;
    color: #FFF9D7;
    border: none;
    border-radius: 4px;
    padding: 5px 15px;
    font-size: 0.875rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.add-image-upload>p{
    /* color: #371c02; */
    padding-top: 20px;
    font-size: 18px;
    font-weight: 600;
}

.information-fields{
    padding: 50px;
}

.add-product-name{
    width: max(40%,280px);
}

.add-product-name input, .add-product-description textarea{
    padding: 10px;
}

.add-category-price{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 30px;
}
.add-category-price button{
    margin-top: 40px;
    height: 50px;
}

.add-category-price select, .add-category-price input{
    max-width: 170px;
    padding: 10px;
}

.add-button{
    margin-top: 25px;
    background-color: #8E4800;
    color: #FFF9D7;
    border: none;
    border-radius: 4px;
    padding: 5px 15px;
    font-size: 1rem;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    left: 40%;
    width: 7rem;
}

.add-button:hover, .add-image-upload button:hover{
    background-color: #6f3d00;
}

.toggle-label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.toggle-switch {
    position: relative;
    width: 50px;
    height: 24px;
    background-color: #ccc;
    border-radius: 12px;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.toggle-switch::after {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 50%;
    top: 2px;
    left: 2px;
    transition: transform 0.3s;
}

input[type="checkbox"]:checked + .toggle-switch {
    background-color: #4caf50;
}

input[type="checkbox"]:checked + .toggle-switch::after {
    transform: translateX(26px);
}